body {
    margin: 0;
    font-family: Arial;
    background: url("images/bg.jpg") no-repeat center center/cover;
}

.overlay {
    background: rgba(0,0,0,0.6);
    min-height: 100vh;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.box {
    background: rgba(255,255,255,0.1);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
