body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    height: 400px;
    background: url("images/bg.jpg") center/cover;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

button {
    padding: 10px 20px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}
